# Core functionality - changes here should be rare!
/src/app.py                   @jidefal
/src/backend/database.py      @jidefal
/src/backend/routers/auth.py  @jidefal

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jidefal
